@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #EEEEEE;
  position: relative;
}

.header-div {
  background-color: #25313f;
  height: 5.6rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header-div .navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: #3FD28B;
  position: relative;
  margin-right: 2.4rem;
}
.header-div .navbar__menu__items {
  margin-left: 3.2rem;
}
.header-div .navbar__menu__items .icons {
  cursor: pointer;
}
.header-div .navbar__menu .activeDashboard {
  color: #fff;
  border-bottom: 0.4rem solid #fff;
  padding: 1.75rem 0;
}
.header-div .navbar__menu .announcement__menu {
  display: none;
  position: absolute;
  width: 31.5rem;
  height: 58.2rem;
  background-color: #fff;
  overflow-y: scroll;
  color: #000;
  top: 4rem;
  left: 0;
  z-index: 1000;
  transform: translateX(-80%);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
}
.header-div .navbar__menu .announcement__menu .announcement__card {
  padding: 1.6rem;
}
.header-div .navbar__menu .announcement__menu .announcement__card .sender {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}
.header-div .navbar__menu .announcement__menu .announcement__card .sender img {
  width: 1.5rem;
}
.header-div .navbar__menu .announcement__menu .announcement__card .message {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}
.header-div .navbar__menu .announcement__menu .announcement__card .attachments__date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: #6E6E6E;
}
.header-div .navbar__menu .announcement__menu .announcement__card .course {
  font-size: 1.2rem;
  color: #6E6E6E;
  margin-bottom: 0.8rem;
}
.header-div .navbar__menu .announcement__menu .announcement__button {
  display: flex;
  padding: 0.9rem;
  justify-content: space-around;
}
.header-div .navbar__menu .announcement__menu .announcement__button a {
  margin: 0.6rem;
  text-decoration: none;
  color: #1F7A54;
}
.header-div .navbar__menu .announcement p {
  display: inline;
}
.header-div .navbar__menu .announcement span {
  color: #6E6E6E;
}
.header-div .navbar__menu .alert {
  position: relative;
}
.header-div .navbar__menu .alert__menu {
  display: none;
  position: absolute;
  width: 31.5rem;
  height: 58.2rem;
  overflow-y: scroll;
  background-color: #fff;
  color: #000;
  top: 4rem;
  left: 0;
  z-index: 1000;
  transform: translateX(-80%);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
}
.header-div .navbar__menu .alert__menu .alert__card {
  padding: 1.6rem;
}
.header-div .navbar__menu .alert__menu .alert__card .alert__message {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.8rem;
}
.header-div .navbar__menu .alert__menu .alert__card .alert__message img {
  width: 1.5rem;
}
.header-div .navbar__menu .alert__menu .alert__card .alert__date {
  text-align: right;
  font-size: 1.2rem;
  color: #6E6E6E;
}
.header-div .navbar__menu .alert__menu .alert__card .alert__course {
  font-size: 1.2rem;
  color: #6E6E6E;
  margin-bottom: 0.8rem;
}
.header-div .navbar__menu .alert__menu .alert__button {
  display: flex;
  padding: 0.9rem;
  justify-content: center;
}
.header-div .navbar__menu .alert__menu .alert__button a {
  margin: 0.6rem;
  text-decoration: none;
  color: #1F7A54;
}
.header-div .navbar__menu .alert p {
  display: inline;
}
.header-div .navbar__menu .alert span {
  color: #6E6E6E;
}
.header-div .navbar__menu:last-child {
  margin-right: 2.4rem;
}
.header-div .dropdown__container {
  display: none;
  position: absolute;
  background-color: white;
  right: 1.6rem;
  top: 5.6rem;
  z-index: 1000;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  width: 28rem;
}
.header-div .dropdown__container .navbar--menu--items__mobile {
  font-size: 1.4rem;
  color: #1F7A54;
  padding: 1.5rem 1.6rem;
}
.header-div .dropdown__container .navbar--menu--items__mobile .submenu__dropdown {
  display: none;
}
.header-div .dropdown__container .navbar--menu--items__mobile .submenu {
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-div .dropdown__container .active {
  background-color: #F3F3F3;
  transition: all 0.2s ease-in-out;
}
.header-div .dropdown__container .active .submenu__dropdown {
  transition: display 0.2s ease-in-out;
  padding: 3rem 0 0 1.6rem;
  display: block;
}
.header-div .dropdown__container .active .submenu .rotate__icon {
  transition: all 0.2s ease-in-out;
  transform: rotateX(180deg);
}

.position {
  position: relative;
}
.position .account {
  width: 3.2rem;
  height: 3.2rem;
  border: 0.1rem solid #8DDC97;
  border-radius: 50%;
  overflow: hidden;
}
.position .notification {
  position: absolute;
  color: #fff;
  background-color: #2A7FF3;
  width: 1.7rem;
  border-radius: 50%;
  text-align: center;
  top: -0.8rem;
  right: -0.5rem;
}
.position .account-notification {
  color: black;
  background-color: #fff;
}

.small-screen {
  display: none;
}

nav::before {
  content: " ";
  position: absolute;
  top: 0rem;
  right: 0rem;
  left: 0rem;
  bottom: 0rem;
  height: 5.6rem;
  background-image: url("../Assets/header_pattern.svg");
  mix-blend-mode: overlay;
  opacity: 1;
}

#logo-header {
  margin: 1.05rem 0rem 1.05rem 2.4rem;
  height: 3.6rem;
  background-color: transparent;
}

.hero__container {
  margin: 2.4rem;
}
.hero__container .courses__and__classes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #8DDC97;
  padding: 1.8rem 0;
  position: relative;
  margin-bottom: 2.6rem;
}
.hero__container .courses__and__classes #border__bottom {
  border-bottom: 4px solid #000;
  width: 50%;
  position: absolute;
  bottom: 0;
}
.hero__container .courses, .hero__container .classes {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.hero__container .courses .number__span, .hero__container .classes .number__span {
  font-weight: 700;
  font-size: 2.4rem;
}
.hero__container .courses__icon, .hero__container .classes__icon {
  height: 3.2rem;
}

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 1.8rem;
}
.filters .filter__text {
  justify-self: start;
  font-size: 1.2rem;
}
.filters .filter__dropdown {
  justify-self: end;
  font-size: 1.2rem;
  width: 100%;
}

.dropdown__label {
  font-size: 12px;
  color: #666666;
  font-weight: 500;
  width: auto;
}

.form__class > select {
  border: none;
  outline: none;
  /* appearance: none; */
  background-color: inherit;
  font-size: 1.6rem;
  margin-top: 5px;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12);
  width: 17rem;
}

.form__class {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;
}

hr {
  border: none;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.12);
}

.course__cards {
  margin-top: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  row-gap: 2.5rem;
}
.course__cards .cards {
  padding: 2.4rem;
  background-color: #fff;
}
.course__cards .cards .card__data {
  display: flex;
}
.course__cards .cards .card__data .card__texts {
  margin-left: 1.6rem;
  width: 100%;
}
.course__cards .cards .card__data .card__texts .card__heading {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
}
.course__cards .cards .card__data .card__texts .subject {
  display: flex;
  justify-content: start;
  font-size: 1.2rem;
  color: #666666;
}
.course__cards .cards .card__data .card__texts .subject p:first-child {
  margin-right: 0.8rem;
}
.course__cards .cards .card__data .card__texts .subject p:last-child {
  margin-left: 0.8rem;
}
.course__cards .cards .card__data .card__texts .topics {
  font-size: 1.2rem;
}
.course__cards .cards .card__data .card__texts .card__droupdown > select {
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 1.6rem;
  margin-top: 5px;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12);
  width: 100%;
}
.course__cards .cards .card__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card__4 {
  position: relative;
}
.card__4 .expired__txt {
  position: absolute;
  color: #D80000;
  font-size: 1.2rem;
  background-color: #FFE4E6;
  padding: 0.7rem;
  border-radius: 0.2rem;
  font-weight: 700;
  top: 0;
  left: 0;
}

.bottom__div {
  width: 100%;
  color: #1F7A54;
  display: flex;
  justify-content: center;
}

.footer_div {
  background-color: #E0E1E1;
  padding: 8px 0px 8px 0px;
  width: 100%;
  height: 40px;
  color: #616161;
  display: flex;
  justify-content: center;
  align-items: end;
}

.footer {
  width: 100%;
  position: absolute;
  /* bottom: 0; */
  margin-top: 1rem;
}

.bottom_footer_image {
  height: 24px;
  width: 90px;
  margin-right: 16px;
}

.footer_text {
  margin: 0 11px;
}

@media (max-width: 768px) {
  .small-screen {
    display: inline;
  }
  .big-screen {
    display: none;
  }
  .course__cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 854px) {
  .header-div .navbar__menu__items {
    margin-left: 2.4rem;
  }
  .header-div .navbar__menu:last-child {
    margin-right: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */